.about-hero {
	@include center-content;
	min-height: 100vh;
	margin-top: 40px;
	margin-bottom: 5vw;
}

.about-hero h1 {
	overflow: hidden;
}

.about-hero h1 span {
	display: block;
	background: linear-gradient(180deg, $black 0%, $grey 60%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: reveal 1.5s cubic-bezier(0.77, 0, 0.175, 1) 0s;
	font-size: $step-9;
}

.about-photo {
	margin-bottom: 10vw;
	position: relative;

	img {
		width: 100%;
		object-fit: cover;
		display: block;
	}

	.about-linear-gradient-div-top,
	.about-linear-gradient-div-bottom {
		position: absolute;
		width: 100%;
		height: 50%;
	}

	.about-linear-gradient-div-top {
		background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
		top: -2.5%;
	}

	.about-linear-gradient-div-bottom {
		background: linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
		bottom: -3.5%;
	}
}

.intro {
	margin-bottom: 10vw;

	.intro-text {
		text-align: center;

		p:not(:last-child) {
			margin-bottom: 10px;
		}
	}
}

@media (max-width: 599px) {
	.about-hero {
		align-items: center;
		min-height: unset;
		margin-top: 150px;
		margin-bottom: 10vw;
	}
}