.videoSection {
  width: 100%;
  height: 100vh;
  @include center-content;
}

.closeButton {
  padding: 10px;
  background: none;
  border: none;
  color: white;
  font-size: larger;
  margin-bottom: 1rem;
}

.videoHeading {
  display: flex;
  margin-bottom: 2rem;
  padding: 0 10px;
}

.video {
  cursor: pointer;
  max-width: 100%;
  max-height: 75%;
}

@media (min-width: 899px) {
  .videoHeadingTitle::after {
    content: "\00a0 ⸻";
  }

  .videoHeadingClient::before {
    content: "\00a0";
  }
}

@media (max-width: 899px) {
  .videoSection {
    height: 90vh;
  }

  .videoHeading {
    flex-direction: column;
  }

  .video {
    max-height: 50%;
  }
}