#wrapper {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;

    #container {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        #holder {
            width: 250vw;
            height: 450vh;
            will-change: transform;
        }
    }
}

@media (max-width: 899px) {
    #wrapper {
        overflow: scroll;
        height: 1000vw;

        #container {
            width: 100%;
            height: 100%;

            #holder {
                width: 100%;
                height: 100%;
            }
        }
    }
}